<mat-nav-list (click)="closeNav.emit()">
  <a
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    routerLink="/"
    routerLinkActive="active"
  >
    Home
  </a>
  <a
    *ngIf="(authService.user | async) === null"
    mat-list-item
    routerLink="/signup"
    routerLinkActive="active"
  >
    Sign Up
  </a>
  <a
    *ngIf="(authService.user | async) === null"
    mat-list-item
    routerLink="/signin"
    routerLinkActive="active"
  >
    Sign In
  </a>
  <a
    (click)="authService.signOut()"
    *ngIf="authService.user | async"
    mat-list-item
    routerLink="/signin"
    routerLinkActive="active"
  >
    Sign Out
  </a>
</mat-nav-list>
