<section class="center">
  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h1 class="form__title">Create an account</h1>

    <div class="form__group">
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        placeholder="Email"
        formControlName="email"
        required
      />
      <p class="form__error" *ngIf="email?.hasError('email') && email?.touched">
        Please enter a valid email
      </p>
      <p
        class="form__error"
        *ngIf="email?.hasError('required') && email?.touched"
      >
        An email address is required
      </p>
    </div>

    <div class="form__group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
        required
        minlength="6"
      />
      <p
        class="form__error"
        *ngIf="password?.hasError('required') && password?.touched"
      >
        A password is required
      </p>
      <p
        class="form__error"
        *ngIf="password?.hasError('minlength') && password?.touched"
      >
        A password must have at least 6 characters
      </p>
    </div>

    <div class="form__group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <p
        class="form__error"
        *ngIf="
          signupForm.hasError('passwordMismatch') && confirmPassword?.touched
        "
      >
        Passwords do not match
      </p>
      <p class="form__error" *ngIf="signupError">
        {{ signupError }}
      </p>
    </div>

    <button class="form__button" type="submit" [disabled]="signupForm.invalid">
      Sign Up
    </button>

    <p>Already have an account? <a routerLink="/signin">Sign in here!</a></p>
  </form>
</section>
