header {
  border-bottom: 1px solid black;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  padding: 0.5rem;
  flex-grow: 1;
  text-align: center;
}

.nav-toggle-label {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }
}

.mobile-nav-toggle {
  position: absolute;
  top: -100px;
  left: -100px;
}

.mobile-nav-toggle:checked ~ nav {
  display: block;
}

.navbar {
  display: none;

  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 1px solid black;
  }

  &__link {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid black;

    a {
      text-decoration: none;

      &:visited {
        color: black;
      }

      &:hover {
        color: gray;
      }
    }
  }
}

@media only screen and (min-width: 560px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: inline-block;
    text-align: left;
  }

  .navbar {
    display: block;

    &__links {
      flex-direction: row;
      border-top: none;
    }

    &__link {
      border-bottom: none;
    }
  }

  .menu-icon {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }
}
