<nav class="navbar">
  <span class="navbar__logo">Elven Goods Market</span>
  <ul class="navbar__items">
    <li class="navbar__item">
      <a
        class="navbar__link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li *ngIf="(this.authService.user | async) === null" class="navbar__item">
      <a class="navbar__link" routerLink="/signup" routerLinkActive="active"
        >Sign Up</a
      >
    </li>
    <li *ngIf="(this.authService.user | async) === null" class="navbar__item">
      <a class="navbar__link" routerLink="/signin" routerLinkActive="active"
        >Sign In</a
      >
    </li>
    <li *ngIf="this.authService.user | async" class="navbar__item">
      <a
        class="navbar__link"
        routerLink="/signin"
        routerLinkActive="active"
        (click)="this.authService.signOut()"
        >Sign Out</a
      >
    </li>
  </ul>
</nav>
