/* You can add global styles to this file, and also import other style files */

$danger: rgb(175, 0, 0);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  padding: 2rem;

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__group {
    margin-bottom: 1rem;

    label {
      display: block;
      padding-bottom: 0.5rem;
    }

    input {
      width: 100%;
      height: 3rem;
      text-indent: 0.5rem;
    }
  }

  &__button {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
  }

  &__error {
    color: $danger;
  }

  .ng-invalid.ng-touched {
    color: $danger;
    border: 1px solid $danger;
  }
}
