<section class="center">
  <form class="form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <h1 class="form__title">Sign In</h1>

    <div class="form__group">
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        placeholder="Email"
        formControlName="email"
        required
      />
      <p
        class="form__error"
        *ngIf="
          signinForm.controls['email'].hasError('required') &&
          signinForm.controls['email'].touched
        "
      >
        An email address is required
      </p>
      <p
        class="form__error"
        *ngIf="
          signinForm.controls['email'].hasError('email') &&
          signinForm.controls['email'].touched
        "
      >
        Please enter a valid email
      </p>
    </div>

    <div class="form__group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <p
        class="form__error"
        *ngIf="
          signinForm.controls['password'].hasError('required') &&
          signinForm.controls['password'].touched
        "
      >
        A password is required
      </p>
      <p class="form__error" *ngIf="signinError">
        {{ signinError }}
      </p>
    </div>

    <button class="form__button" type="submit" [disabled]="signinForm.invalid">
      Sign In
    </button>

    <p>Don't have an account? <a routerLink="/signup">Create one here!</a></p>
  </form>
</section>
