<section class="center">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="signinForm">
        <mat-form-field appearance="standard" id="email">
          <mat-label>Email</mat-label>
          <input
            autocomplete="email"
            formControlName="email"
            matInput
            required
            type="email"
          />
          <mat-icon matSuffix>mail_outline</mat-icon>

          <mat-error *ngIf="email?.hasError('required')">
            An email address is required
          </mat-error>
          <mat-error *ngIf="email?.hasError('email')">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" id="password">
          <mat-label>Password</mat-label>
          <input
            [type]="showPassword.checked ? 'text' : 'password'"
            autocomplete="current-password"
            formControlName="password"
            matInput
            required
          />
          <mat-icon matSuffix>lock_outline</mat-icon>

          <mat-error *ngIf="password?.hasError('required')">
            A password is requried
          </mat-error>
        </mat-form-field>

        <mat-checkbox #showPassword>Show password</mat-checkbox>

        <mat-error [hidden]="!signinError">
          {{ signinError }}
        </mat-error>

        <button
          [disabled]="signinForm.invalid"
          color="primary"
          mat-raised-button
          type="submit"
        >
          Submit
        </button>
      </form>
    </mat-card-content>

    <p>Don't have an account? <a routerLink="/signup">Sign up here!</a></p>
  </mat-card>
</section>
